[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=azureuser
WorkingDirectory=/home/azureuser/sites/DOMAIN
EnvironmentFile=/home/azureuser/sites/DOMAIN/.env

ExecStart=azureuser/sites/DOMAIN/virtualenv/bin/gunicorn \
	--bind unix:/tmp/DOMAIN.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
